body
{
    /* padding-left:30px; padding-right: 30px; */
    padding-top: 30px;
    padding-bottom: 300px;
    font-family: 'roboto','arial';
}

div, p, body, img
{
    margin:0;
}

main
{
    width: 955px;
    height: 884px;
    margin: 0 auto;

     padding-left: 76px; 
    transition: margin .3s;
}

@media (min-width: 1031px) and (max-width: 1260px) /* default */
{
    main
    {
        border: 1px solid red;
    }
} 
@media (min-width: 790px) and (max-width: 1030px) /* default */
{
    main
    {
        border: 1px solid cyan;
        width: 90%; height: 90%;
    }
    .PHOTO-GRID
    {
        grid-template-rows: 1fr 1fr;
    }
} 

