body
{
    /* padding-left:30px; padding-right: 30px; */
    padding-top: 30px;
    padding-bottom: 300px;
    font-family: 'roboto','arial';
}

div, p, body, img
{
    margin:0;
}

main
{
    width: 955px;
    height: 884px;
    margin: 0 auto;

     padding-left: 76px; 
    transition: margin .3s;
}
@media (min-width: 0px) and (max-width:860px)
{
    footer
    {
        /* visibility: hidden;     <- hidden but still occupy space in the layout */
        display: none;  /*disappear and not affect the layout when the screen is smaller */
    }
}
@media (min-width: 0px) and (max-width: 1030px) /* <main> proportionally scaled w screen size. help ig uses flex for photo layout but i used grid so i cant easily control the height to keep it square but oh well! mine is unique ig!*/
{
    main
    {
        width: 90%; height: 90%;
    }
    .PHOTO-GRID
    {
        grid-template-rows: 1fr 1fr;
    }

/* SIDE BAR. */
    .sidebar-container
    {
        width: 76px;
    }
        .sidebar-icons-flex
        {
            align-items: center;
        }
    .tooltip-container
    {
        position: relative;
        cursor: pointer;
    }
    .tooltip
    {
        background-color:white;
        padding: 5px;
        box-shadow: 0 0 5px grey;
        border-radius:3px;

        position: absolute;
        white-space: nowrap;
        left: 50px;
        top: 3px;

        pointer-events: none;
        transition-property: opacity, visibility;
        transition-duration: .3s, .3s;
        transition-delay: 0s, .5s; /* 1s delay until tooltip shows up, but once ur not hovering, it disappears right away */
        opacity: 0;
        visibility: hidden;
        /* transition-delay: 3s;      for some reason this controls both the delay of it appearing and dissapearing*/
    }
    .tooltip-container:hover .tooltip
    {
        opacity: 1;
        visibility:visible;
    }
} 
@media (min-width: 1031px) and (max-width: 1259px) /* default */
{
/* SIDE BAR. */
    .sidebar-container
    {
        width: 76px;
    }
        .sidebar-icons-flex
        {
            align-items: center;
        }
    .tooltip-container
    {
        position: relative;
        cursor: pointer;
    }
    .tooltip
    {
        background-color:white;
        padding: 5px;
        box-shadow: 0 0 5px grey;
        border-radius:3px;

        position: absolute;
        white-space: nowrap;
        left: 50px;
        top: 3px;

        pointer-events: none;
        transition-property: opacity, visibility;
        transition-duration: .3s, .3s;
        transition-delay: 0s, .5s; /* 1s delay until tooltip shows up, but once ur not hovering, it disappears right away */
        opacity: 0;
        visibility: hidden;
        /* transition-delay: 3s;      for some reason this controls both the delay of it appearing and dissapearing*/
    }
    .tooltip-container:hover .tooltip
    {
        opacity: 1;
        visibility:visible;
    }
} 




@media (min-width: 1260px) /* expanded side bar!!! */
{
    .sidebar-container
    {
        width: 160px;
    }
        .sidebar-icons-flex
        {
            padding-left: 6px;
        }
            .ig-icon
            {
                margin-left: 6px;
            }
            .explore-icon, .propic-icon
            {
                margin-left: -3px;
            }
    .tooltip-container
    {
        display: flex; align-items: center; 
        cursor: pointer;
    }
    .tooltip-container p
    {
        z-index:5;
    }
}

