.sidebar-container
{
    position: fixed;
    left:0; top:0; bottom: 0;
    border-right:1px solid grey;
}
    .sidebar-icons-flex
    {
        display: flex; flex-direction: column;
        justify-content: center;
    }
        .ig-icon
        {
            margin-top:30px; margin-bottom: 50px;
            width: 27px;
        }
        .home-icon
        {
            width: 38px;
        }
        .search-icon
        {
            width:30px;
            margin-left:2px;
        }
        .explore-icon, .propic-icon
        {
            width:36px;
        }
        .reels-icon, .heart-icon, .post-icon
        {
            width: 34px; 
        }
        .messages-icon, .threads-icon, .hamburger-icon
        {
            width:30px;
        }
    /* lowkey unecessary way of doing this BUT i practice the selectors */
    .sidebar-icons-flex :not(:first-child):not(:nth-last-child(3))
    {
        margin-bottom: 25px;
    }
    .propic-icon
    {
        margin-bottom: 50px;
    }

.tooltip-container:hover img
{
    transform:rotate(15deg);
}


